@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.page-container {
  font-family: "Poppins", sans-serif;
}
.success-div {
  background-color: white;
  width: 698px;
  height: 600px;
  margin: 50px auto;
  border: 1px solid #eff0f7;
  box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
  border-radius: 34px;
}
